{% extends "base.html" %}
{% load static %}
{% load i18n %}

{% block stylesheet %}<link rel="stylesheet" href="{% static 'css/about.css' %}" />{% endblock stylesheet %}
{% block title %}About{% endblock title %}

{% block content %}
      <!--==================================== Start HEADER =========================================== -->
      <header class="header">
        <!-- Start ABOUT banner -->
        <div class="about__banner page__banner-bg">
          <div class="container">
            <div class="about">
              <h1 class="about__title">{% translate "Biz Haqimizda" %}</h1>
              <div class="about__links">
                <a href="{% url 'index' %}" class="about__home">{% translate "Bosh sahifa" %}</a>
                <span class="about__link-sign"
                  ><i
                    class="about__icon fa-solid fa-chevron-right"
                    style="color: #ffffff"
                  ></i
                ></span>
                <a href="{% url 'about' %}" class="about__link">{% translate "Biz haqimizda" %}</a>
              </div>
            </div>
          </div>
        </div>
      </header>
      <!-- /HEADER -->

      <!-- Start MAIN -->
      <main class="main">
        <div class="container">
          <div class="delivery">
            <div class="delivery__img">
              <img
                src="{{ main_image.image.url }}"
                alt="Delivery"
                class="delivery__img-item"
              />
            </div>
            <div class="delivery__desc">
              <div class="delivery__text">
                <h3 class="delivery__title">
                  {% blocktranslate %}Siz uchun ajoyib raqamli mahsulotlarni yetkazib berish{% endblocktranslate %}
                </h3>
                <p class="delivery__parag main-text">
                  {% blocktranslate %}O'quvchi chalg'itishi uzoq vaqtdan beri tasdiqlangan haqiqat
                  uning tartibini ko'rib chiqayotganda sahifaning o'qilishi mumkin bo'lgan mazmuni bilan.{% endblocktranslate %}
                </p>
              </div>
              <div class="delivery__cards">
                <!-- ****************************** -->
                {% for item in about_page %}
                <div class="delivery__cards-item main-cards">
                  <i
                    class="fa-regular fa-circle-check delivery__icon"
                    style="color: #ffffff"
                  ></i>
                  <h3 class="delivery__cards-title main-cards__title">
                    {{ item.title }}
                  </h3>
                  <p class="delivery__cards-desc main-text">
                    {{ item.text }}
                  </p>
                </div>
                {% endfor %}
              </div>
            </div>
          </div>
        </div>

        <section id="working__section">
          <div class="container">
            <img
              src="{% static 'images/working__after.svg' %}"
              alt="Working"
              class="working__section-icon working__after-icon"
            />
            <div class="working">
              <div class="working__desc">
                <div class="working__text">
                  <h3 class="working__title">{% blocktranslate %}Biz qanday ishlaymiz{% endblocktranslate %}</h3>
                  <p class="working__parag main-text">
                    {% blocktranslate %}O'quvchi chalg'itishi uzoq vaqtdan beri tasdiqlangan haqiqat
                    uning tartibini ko'rib chiqayotganda sahifaning o'qilishi mumkin bo'lgan mazmuni bilan.{% endblocktranslate %}
                  </p>
                </div>
                <div class="working__cards">
                  <!-- ****************************** -->
                  {% for item in works %}
                  <div class="working__cards-item main-cards">
                    <img
                      src="{{ item.image.url }}"
                      alt="Crm platform"
                      class="working__cards-icon"
                    />
                    <h3 class="working__cards-title main-cards__title">
                      {{item.title}}
                    </h3>
                    <p class="working__cards-desc main-text">
                      {{item.text}}
                    </p>
                  </div>
                  {% endfor %}
                  <!-- ****************************** -->
                </div>
              </div>
              <div class="working__gallery">
                <div class="working__img">
                  <img
                    src="{{ body_images.image1.url }}"
                    alt="Working"
                    class="working__img-item"
                  />
                </div>
                <div class="working__collection">
                  <div class="working__collection-wrapper">
                    <img
                      src="{{body_images.image2.url}}"
                      alt="Working collection"
                      class="working__collection-item"
                    />
                  </div>
                  <div class="working__collection-wrapper">
                    <img
                      src="{{body_images.image3.url}}"
                      alt="Working collection"
                      class="working__collection-item"
                    />
                  </div>
                </div>
              </div>
            </div>
            <img
              src="{% static 'images/working__before.svg' %}"
              alt="Working"
              class="working__section-icon working__before-icon"
            />
          </div>
        </section>

        <div class="container">
          {% include "includes/contacts.html" %}
        </div>
      </main>
{% endblock content %}